<nav th:fragment="leftMenu" xmlns:th="http://www.w3.org/1999/xhtml" class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="home"></span>
          <span>고객등록</span>
          <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="file"></span>
          <span>고객조회</span>
        </a>
      </li>
    </ul>
  </div>
</nav>