<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    </title><p th:text="#{label.project_name}"></p></title>
</head>

<body>
    
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1><span th:text="#{msg.customer}"></span></h1>
            <h1> ... 장애 관리 시스템 (THCHA) 테스트...</h1>
            <h1><span th:text="#{msg.test}"></span></h1>
        </div>
    </div>
</body>

</html>