<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--
    <title>Spring Boot Thymeleaf + Spring Security</title>
    -->
    </title>Mini Project</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1><span th:text="#{label.customer}"></span></h1>
        <h1> ... 장애 관리 시스템 (THCHA) 테스트...</h1>
        <h1><span th:text="#{label.test}"></span></h1>
    </div>
</div>
</body>
</html>