<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title><span th:text="#{label.menu_regist_customer}"></span></title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1><span th:text="#{label.menu_regist_customer}"></span></h1>
        </div>

        <form th:action="@{/customer/new}" th:object="${customerForm}" method="post">
            <div class="form-group">
                <label th:for="name"><span th:text="#{label.customer_name}">: </span></label>
                <input type="text" th:field="*{name}" class="form-control" required="required" th.placeholder="#{label.customer_name_placeholder}">

<!-- <input type="text" id="usernameId"  name="username" th:placeholder="#{user.placeholder}" /> -->
<!-- <input type="text" id="usernameId"  name="username" th:attr="placeholder=#{user.placeholder}" /> -->
<!--
<p th:text="#{messages.msg1(${param1})}"></p>
<p th:text="#{messages.msg2(${param2},${param3})}"></p>
<p th:text="#{messages.msg3(#{${param4}})}"></p> 
<p th:text="${#messages.msgWithParams(messageKey, messageParams)}"></p> 
-->
                <label th:for="customerType"><span th:text="#{label.customer_type}">: </span></label>
                <div class="input-group" th:field="*{customerType}" id="selection">
                    <input type="radio" name="customerType" value="PERSON" checked="checked"><span
                        th:text="#{label.customer_type_person}"></span></input>
                    <input type="radio" name="customerType" value="COMPANY"><span
                        th:text="#{label.customer_type_conpany}"></span></input>
                </div>

                <label th:for="city"><span th:text="#{label.address_city}">: </span></label>
                <input type="text" th:field="*{city}" class="form-control" required="required" th.placehoder="#{label.address_city_placeholder}">

                <label th:for="street"><span th:text="#{label.address_street}">: </span></label>
                <input type="text" th:field="*{street}" class="form-control" required="required" th.placeholder="#{label.address_street_placeholder}">

                <label th:for="zipcode"><span th:text="#{label.address_zipcode">: </span></label>
                <input type="text" th:field="*{zipcode}" class="form-control" required="required" th.placeholder="#{label.address_zipcode_placeholder}">

                <label th:for="lineQty"><span th:text="#{label.line_count">: </span></label>
                <input type="text" th:field="*{lineCount}" class="form-control" required="required" th.placeholder="#{label.line_count_placeholder">

                <div id="personArea" th:style="*{customerType} == 'COMPANY' ? 'display:none;'">
                    <div class="form-group">
                        <label th:for="personSsn"><span th:text="#{label.person_ssn}">: </span></label>
                        <input type="text" th:class="${#fields.hasErrors('personSsn')} ? 'form-control fieldError' : 'form-control'"  th:field="*{personSsn}">
                      <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('ssn')}" th:errors="*{label.person_ssn}"> Incorrect Data</div>
                    </div>
                    <div class="form-group">
                      <label th:for="personPhoneNo"><span th:text="#{label.person_phone_no}">: </span></label>
                      <input type="text" class="form-control"  th:field="*{personPhoneNo}">
                    </div>
                  </div>
              
                  <div id="companyArea" th:styleappend="*{customerType} == 'PERSON' ? 'display:none;'">
                    <div class="form-group">
                      <label th:for="companyBizNo"><span th:text="#{label.companuy_biz_no}">: </span></label>
                      <input type="text" class="form-control"  th:field="*{companyBizNo}">
                    </div>
                    <div class="form-group">
                      <label th:for="companyRepName"><span th:text="#{label.companuy_rep_name}">: </span></label>
                      <input type="text" class="form-control"  th:field="*{companyRepName}">
                    </div>
                    <div class="form-group">
                      <label th:for="companyPhoneNo"><span th:text="#{label.companuy_phone_no}">: </span></label>
                      <input type="text" class="form-control"  th:field="*{companyPhoneNo}">
                    </div>
                  </div>

                <!-- JQury from Google CDN -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('input[name=customerType]').on('change', function (e) {
                            if (e.target.value == 'COMPANY') {
                                $('#personArea').hide();
                                $('#companyArea').show();
                            } else {
                                $('#personArea').show();
                                $('#companyArea').hide();
                            }
                        });
                    });
                </script>

            </div>

            <button type="submit" class="btn btn-primary"><span th:text="#{label.btn_save}"></span></button>
        </form>
    </div>
</body>

</html>