<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title><span th:text="#{label.menu_retrieve_customer}"></span></title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1><span th:text="#{label.menu_retrieve_customer}"></span></h1>
        </div>

        <div>
            <form role="form" class="form-inline" th:action="@{/customer/retrieveSearchForm}"
                th:object="${customerSearchDto}" method="post">
                <div class="form-group">
                    <label th:for="name"><span th:text="#{label.customer_name}">: </span></label>
                    <input type="text" class="form-control" th:field="*{name}" th.placeholder="#{label.customer_name_placeholder}">
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{customerType}" class="form-control">
                        <option value="" th:text="#{label.customer_type}"></option>
                        <option th:each="customerType : ${T(com.thcha.mini.entity.CustomerType).values()}"
                                th:value="${customerType}"
                                th:text="${customerType}"> option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><span th:text="#{label.btn_search}"></span></button>
            </form>
        </div>

        <div>
            <p></p>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th th:text="#{label.customer_name}"></th>
                        <th th:text="#{label.customer_type}"></th>
                        <th th:text="#{label.address}"></th>
                        <th th:text="#{label.line_count}"></th>
                        <th th:text="#{label.btn_update}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customersDto : ${customersDto}">
                        <td th:text="${customersDto.name}"></td>
                        <td th:text="${customersDto.customerType}"></td>
                        <td th:text="${customersDto.address}"></td>
                        <td th:text="${customersDto.lineCount}"></td>
                        <td>
                            <a href="#" th:href="@{/customer/{id}/updateForm (id=${customersDto.id})}"
                                class="btn btn-danger" th:text="#{label.btn_update}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>