<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title><span th:text="#{label.menu_retrieve_customer}"></span></title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1><span th:text="#{label.menu_retrieve_customer}"></span></h1>
        </div>

        <div>
            <form role="form" class="form-inline" th:action="@{/customer/retrieveCustomerForm}" th:object="${customerSearchDto}" method="post">
                <div class="form-group">
                    <label th:for="name"><span th:text="#{label.customer_name}">: </span></label>
                    <input type="text" th:field="*{name}" class="form-control" th.placeholder="#{label.customer_name_placeholder}">
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{customerType}" class="form-control">
                        <option value="">All</option>
                        <option value="PERSON"><span th:text="#{label.customer_type_person}"></span></option>
                        <option value="COMPANY"><span th:text="#{label.customer_type_company}"></span></option>
                        <!--
                        <option th:each="cType : ${T(com.thcha.mini.entity.CustomerType).values()}"
                                th:value="${cType}"
                                th:text="${cType}">
                        </option>
                        -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"><span th:text="#{label.btn_search}"></span></button>
            </form>
        <div>
            <table class="tb_col">
                <thead>
                    <tr>
                        <th><p th:text="#{label.customer_name}"></p></th>
                        <th><p th:text="#{label.customer_type}"></p></th>
                        <th><p th:text="#{label.address}"></p></th>
                        <th><p th:text="#{label.line_count}"></p></th>
                        <th><p th:text="#{label.btn_update}"></p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.customerType}"></td>
                        <td th:text="${customer.address}"></td>
                        <td th:text="${customer.lineCount}"></td>
                        <td>
                            <a href="/customer/${customer.id}/update"
                                class="btn btn-primary" role="button">
                                <span th:text="#{label.btn_update}"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>